@model PetShopWebApp.Models.Animal

@{
	ViewBag.Title = Model.Name + " - Pet Shop";
	ViewBag.Page = "Category";
}

<div class="container py-5">
	<div class="card flex-row border-0 shadow-lg row-cols-2 row-cols-lg-2 position-relative">
		<div class="col">
			@await Html.PartialAsync("_ButtonLikePartial", Model.AnimalId)
			<img class="card-img" src="@Model.PictureURL" />
		</div>
		<div class="col p-5">
			<div class="">
				<h1>@Model.Name</h1>
				<h4 class="border-top mt-2 pt-4">Details</h4>
				<div>Like: <span id="like_@Model.AnimalId">@Model.Like</span></div>
				<div>Age: @Model.Age</div>
				<div>Category: @Model.Category?.Name</div>
				<h4 class="border-top mt-2 pt-4">Description</h4>
				<p>@Model.Description</p>
				<h4 class="border-top mt-2 pt-4">Comments</h4>
				<form data-id="@Model.AnimalId" id="newComment">
					<label for="auther" class="form-label">Auther</label>
					<input value="" class="form-control mb-3" name="auther" />
					<label for="text" class="form-label">Comment</label>
					<textarea class="form-control mb-3" name="text"></textarea>
					<button type="submit" class="btn btn-primary btn-sm">
						Send Comment!
					</button>
				</form>
				<div id="comments">
					@foreach (var comment in @Model.Comments!)
					{
						<div class="card-body">
							<div class="card-title fs-5">@comment.Text</div>
							<div class="d-flex justify-content-between">
								<small>Auther: @comment.Auther</small>
								<small>Created At: @comment.CreatedDate.ToString()</small>
							</div>
						</div>
					}
				</div>
				<div class="text-end border-top mt-2 pt-4">
					<a class="btn btn-success btn-lg">Content As!</a>
				</div>
			</div>
		</div>
	</div>
</div>
