@model IEnumerable<PetShopWebApp.Models.Animal>
@{
    ViewBag.Title = "PetShop";
}

<h1>Index</h1>

@foreach (var pet in Model)
{
    <div style="border:1px black solid;padding:1em;margin:1em">
        <h3>@pet.Name</h3>
        <div>Category: @pet.Category!.Name</div>
        <div>Age: @pet.Age</div>
        <div>Like: @pet.Like</div>
        <div>Description: @pet.Description</div>
        <img src="@pet.PictureURL" width="300" />
    </div>
}