@model PetShopWebApp.Models.Animal

@{
	ViewBag.Title = (ViewBag.isEdit ? "Edit" : "Add") + " Pet - Pet Shop";
	ViewBag.Page = "Manager";
 }

<div class="container p-5">
	<div class="card p-5 border-0 shadow-lg">
		<h1 class="card-title text-center mb-3">@(ViewBag.isEdit ? "Edit" : "Add") Animal</h1>
		<form class="card-body" asp-action="@(ViewBag.isEdit?"EditAnimal":"AddAnimal")" method="post" enctype="multipart/form-data">
			@if (ViewBag.isEdit)
			{
				<div class="mb-3 ">
					<label asp-for="@Model.AnimalId" class="form-label">ID</label>
					<input asp-for="@Model.AnimalId" class="form-control" readonly />
				</div>
			}
			<div class="mb-3">
				<label asp-for="@Model.Name" class="form-label">Name</label>
				<input asp-for="@Model.Name" class="form-control" />
			    <span asp-validation-for="@Model.Name"></span>
			</div>
			<div class="mb-3">
				<label asp-for="@Model.CategoryId" class="form-label">Category</label>
				<select asp-for="@Model.CategoryId" class="form-select">
					@foreach (var item in (IEnumerable<PetShopWebApp.Models.Category>)@ViewBag.CategoryList)
					{
						<option value="@(item.CategoryId)">@item.Name</option>
					}
				</select>
				 <span asp-validation-for="@Model.CategoryId"></span>
			</div>
			<div class="mb-3">
				<label asp-for="@Model.Age" class="form-label">Age</label>
				<input asp-for="@Model.Age" min=0 max=100 step="any" type="number" class="form-control" />
				 <span asp-validation-for="@Model.Age"></span>
			</div>
			<div class="mb-3">
				<label asp-for="@Model.Description" class="form-label">Description</label>
				<textarea asp-for="@Model.Description" class="form-control"></textarea>
				<span asp-validation-for="@Model.Description"></span>
			</div>
			@if (ViewBag.isEdit)
			{
				<div class="mb-3">
					<label asp-for="@Model.Like" class="form-label">Like</label>
					<input asp-for="@Model.Like" class="form-control" readonly />
				</div>
			}
			<div class="mb-3">
				<label asp-for="@Model.PictureURL" class="form-label">PictureURL</label>
				<input asp-for="@Model.File" type="file" class="form-control" />
				<br />
				<img class="rounded-3 mt-3" src="@Model.PictureURL" width="150" />
				<span asp-validation-for="@Model.PictureURL"></span>
			</div>
			<button typa="submit" class="btn btn-rounded btn-lg @(ViewBag.isEdit ? "btn-success" : "btn-primary")">
				@(ViewBag.isEdit ? "Edit Animal!" : "Add Animal!")
			</button>
		</form>
	</div>
</div>