@model IEnumerable<PetShopWebApp.Models.Animal>

<table class="table table-borderless">
	<thead>
		<tr class="d-lg-table-row d-none">
			<th>Portrait</th>
			<th>ID</th>
			<th>Name</th>
			<th>Category</th>
			<th>Age</th>
			<th>Description</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var pet in Model)
		{
			<tr id="pet_@pet.AnimalId" class="d-lg-table-row mb-lg-0 d-flex flex-column mb-5 p-1 rounded-4">
				<td>
					<a asp-controller="Home" asp-action="Animal" asp-route-id="@pet.AnimalId">
						<img src="@pet.PictureURL" width="200" class="rounded-3 m-lg-1">
					</a>
				</td>
				<td>@pet.AnimalId</td>
				<td>@pet.Name</td>
				<td>@pet.Category!.Name</td>
				<td>@pet.Age</td>
				<td>@pet.Description</td>
				<td class="p-3 text-nowrap text-center">
					<a asp-controller="Home" asp-action="Animal" asp-route-id="@pet.AnimalId" class="btn btn-info d-block text-white w-100">
						Details
						<i class="fa-solid fa-info mx-2"></i>
					</a>
					@if ((bool)ViewData["isAdmin"]!)
					{
						<a asp-controller="Admin" asp-action="EditAnimal" asp-route-id="@pet.AnimalId" class="btn btn-success d-block mt-3 w-100">
							Edit
							<i class="fa-solid fa-pen-to-square mx-2"></i>
						</a>
						<a data-id="@pet.AnimalId" class="btn btn-danger btn-delete d-block mt-3 w-100">
							Delete
							<i class="fa-solid fa-trash mx-2"></i>
						</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
