@model IEnumerable<PetShopWebApp.Models.Animal>

<table class="table">
	<tr class="table-light">
		<th>Portrait</th>
		<th>Name</th>
		<th>Age</th>
		<th>Category</th>
		<th>Description</th>
		<th></th>
	</tr>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td><img src="@item.PictureURL" width="200"> </td>
				<td>@item.Name </td>
				<td>@item.Age </td>
				<td>@item.Category!.Name </td>
				<td>@item.Description </td>
				<td>
					<a asp-controller="Home" asp-action="Animal" asp-route-id="@item.AnimalId" class="btn btn-primary">Details</a>
					@if ((bool)ViewData["isAdmin"]!)
					{
						<a asp-controller="Admin" asp-action="EditAnimal" asp-route-animal="@item" class="btn btn-success">Edit</a>
						<a asp-controller="Admin" asp-action="AddEditAnimal" asp-route-id="@item.AnimalId" class="btn btn-danger">Delete</a>
					}
				</td>
			</tr>

		}

	</tbody>
</table>
